
$font-size: 20px;
$button-background-color: green;
$button-font-color:blue;
$text-font-color: red;

.hello-button{
     font-size: $font-size;
     padding: 7px 15px;
     background: $button-background-color;
     color: $text-font-color;
     outline: none;
}

.hello-button-text{
    color: $button-font-color;
    font-weight: bold
}