
$font-size: 20px;
$button-background-color: green;
$button-font-color:white;
$text-font-color: red;

.hello-button{
     font-size: 20px;
     padding: 7px 15px;
     background: green;
     color: red;
     outline: none;
}

.hello-button-text{
    color: white;
    font-weight: bold
}